/*estilos generales de html*/
html {
    font-size: 16px;
    /* Tamaño base de la fuente */
    height: 100%;
    font-family: "DynaPuff";
    color: rgb(255, 255, 255);
    margin-top: 100px;
    text-shadow: 3px 3px 7px black;
}
/*estilos generales de header*/
header {
    text-align: center;
}

/* Media query para dispositivos pequeños */
@media screen and (max-width: 400px) {
    html {
        font-size: 9.41176px;
        /* Ajuste de tamaño de fuente */
    }
}
/*estilos de links*/
a {
    text-decoration: none;
    color: white;
}

/* Estilos de encabezados */
h1 {
    font-size: 5vw;
    /* Ajuste a vw para que escale */
    color: rgb(255, 182, 46);
}

/*estilos de textos*/
h2 {
    font-size: 3vw;
    /* Ajuste a vw para que escale */
    color: rgb(179, 255, 103);
}

/*estilos para weboficial*/
.weboficial {
    color: rgb(255, 255, 255);
    font-size: 2vw;
    /* Ajuste a vw para que escale */
    text-shadow: 1px 1px 3px black;
}

/*estilos para el titulo general*/
.titulo {
    font-size: 5vw;
    /* Ajuste a vw para que escale */
}

/*estilos para el video*/
.video {
    display: flex;
    /*Se usa para alinear los elementos*/
    justify-content: space-around;
    /*Distribuye el espacio entre los elementos*/
}

/*estilos en comun para los contenedores de encabezado, contenido, y footer*/
.encabezado,
.contenido,
.piedepagina {
    color: black;
    text-align: center;
}

/*Estilos para la clase encabezado*/
.encabezado {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/*estilos para la clase pie de pagina*/
.piedepagina {
    position: fixed;
    bottom: 0;
    /* Ajustado para que siempre esté en la parte inferior */
    left: 0;
    right: 0;
}

/*estilos para el texto del contenido*/
.textaso {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 3px black;
}

/*estilos para el texto de bienvenida*/
.texto-bienvenida {
    font-size: 1.5vw;
    color: white;
}

/*estilos generales para el cuerpo de la pagina*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: radial-gradient(rgb(0, 255, 13), rgb(255, 153, 0));
}

/* Estilos para el encabezado */
nav {
    padding: 3rem;
    margin: 0;
    background-color: #5f5f5f;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .8));
}

/* Estilos para el contenido */
main {
    padding: 5rem;
    padding-top: 0rem;
    background: none;
}

/* Estilos para el pie de página */
footer {
    padding: 1rem;
    margin: 0;
}

/*estilos de imagen*/
.cata-info {
    /*ordena los elementos de una manera deseada*/
    display: flex;
    /*separa a partes iguales el contenido enlistado*/
    justify-content: space-around;
}

/*estilos de las imagenes de catalogo y vaso*/
.catalogoimg,
.vaso {
    width: 60%;
    /* Mantiene un tamaño relativo */
}

/*estilos de el menú*/
.inicio,
.catalogo,
.acerca,
li {
    /*no muestra el punto como si fuera una lista ordenada*/
    list-style: none;
    /*"margen" dentro del que se va a poder poner el contenido*/
    padding: 0;
    /*Para que no se mueva de la pantalla del dispositivo*/
    position: fixed;
    /*para que este en horizontal la lista*/
    flex-direction: row;
    /*la distancia de la que va a estar del margen*/
    top: 2rem;
    /*tamaño de las letras en vm para que escale con la pantalla*/
    font-size: 2vw;
    /*color de letras*/
    color: rgb(255, 255, 255);
    /*sombra de letras*/
    text-shadow: 1px 1px 3px black;
}

li:hover {
    /*el color cambia cuando se vaya a seleccionar*/
    color: rgb(248, 255, 40);
    /*tiempo en el que se va a iluminar*/
    transition: all 0.3s;
}

/* Ajustes de posición para los elementos del menú */
.inicio {
    left: 22%;
}

.catalogo {
    left: 42%;
}

.acerca {
    left: 60%;
}

/*estilo para el logo de pagina*/
.logo {
    width: 9%;
    position: fixed;
    right: 3rem;
}

/* Estilo de redes sociales */
.maps,
.facebook,
.whatsapp {
    width: 3%;
    position: fixed;
    bottom: 0.1rem;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .8));
}

.mapstext,
.whattext,
.facetext {
    margin-bottom: 3rem;
    color: rgb(255, 255, 255);
}

/*Estilo para icono maps*/
.maps {
    right: 2rem;
    bottom: 2rem;
}

.mapstext {
    margin-left: 88rem;
    margin-bottom: 0rem;
}

/*estilos para icono whatsapp*/
.whatsapp {
    right: 11rem;
    bottom: 2rem;
}

.whattext {
    margin-left: 70rem;
    margin-bottom: -1.2rem;
}

/*Estilos para icono facebook*/
.facebook {
    right: 21rem;
    bottom: 2rem;
}

.facetext {
    margin-left: 50rem;
    margin-bottom: -1.3rem;
}

/*Estilos para las  imagenes de los catalogos*/
.catalogo-gen1,
.catalogo-gen2,
.catavaso {
    display: flex;
    /*Se usa para alinear los elementos*/
    justify-content: space-around;
    /*Distribuye el espacio entre los elementos*/
}


/*estilos para la clase helados*/
.helados {
    font-size: 20px;
    color: white;
}

/*Estilos unicamente para las imagenes de los helados*/
.heladoimagen {
    width: 50%;
    aspect-ratio: 3/4;
    object-fit: contain;
}

/*Estilo a el contenido en la clase (nosotros)*/
.nosotros {
    font-size: 20px;
    color: white;
}

/*estilos para la clase general infosemaforos*/
.infosemafo {
    display: flex;
    /*Se usa para alinear los elementos*/
    justify-content: space-around;
    /*Distribuye el espacio entre los elementos*/
}

/*Estilos solamente para la imagen del semaforo*/
.semaforo {
    width: 40%;
    border-radius: 2pc;
}

/*Estilo solamente para la imagen del la informacion sobre la nutricion*/
.infonutri {
    width: 50%;
    border-radius: 2pc;
}